body {
    background-color: navy;
}

h2 {
   
    color: white;
    font-size: 36px;
    font-weight: 200px;
    text-align: center;

}

.World {

    margin-right: 456px;
    margin-bottom: 566px;
    

}