body {
    background-color: navy;
    text-decoration: none;
    font-family: "Literata", serif;
}

h2 {
   
    color: white;
    font-size: 109px;
    text-align: center;


}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 3; }
  }

.word1{
animation: fadein 3s;
    animation-name: fadein;
animation-delay: 1s;
animation-direction: normal;
animation-duration: 13s;
animation-fill-mode: normal;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function: ease-in-out;
}



.World {

    margin-right: 69x;
    margin-top: 350px;
   
}

a {
    color: red;
    text-decoration: none;
    
}