body {
    background-color: navy;
    text-decoration: none;
    font-family: "Literata", serif;
}

h2{

    color: white;
    font-size: 109px;
    text-align: center;
}

.Children {
    margin-right: 69x;
    margin-top: 350px;
}



a {
    text-decoration: none;
    
}

.word2 {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 
        1px 1px 0px #3f39e6, 
        2px 2px 0px #00f752, 
        3px 3px 0px #fcbf49, 
        4px 4px 0px #44dce1, 
        5px 5px 0px #cb2bab;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    animation: word2 5s infinite linear;
}

@keyframes word2 {
   
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
      
}

/* https://prismic.io/blog/css-text-animations#9-wavy-text */