body {
    background-color: navy;
    font-family: "Literata", serif;
}

h2{

    color: white;
    font-size: 109px;
    text-align: center;

}

h3 {
    color: olive;
    font-size: 106px;
    text-align: center;
}

a {
    text-decoration: none;

    }

    div {
        color: indigo;

        text-transform: uppercase;
        background: 50% 100% / 50% 50% no-repeat
              radial-gradient(ellipse at bottom, #35df26, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
        animation: betterday 3000ms ease-in-out forwards 200ms,
             glow 2500ms linear infinite 2000ms;
    }

    

    @keyframes betterday {
        80%{
          letter-spacing: 7px;
        }
        100% {
          background-size: 200% 200%;
        }
      }
      @keyframes glow {
        40% {
          text-shadow: 0 0 8px #127722;
        }
      }
     
/*https://www.sliderrevolution.com/resources/css-text-animation/*/
    

    .wordsfour {
        margin-left: 456px;
        margin-top: -499px;
        transform: translateX(400%);
    animation-name: wordsfour;
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    }

    @keyframes wordsfour {
        0% {
            transform: translateX(400%);
        }
        100% {
            transform: translateX(0);
    }
}

/* https://prismic.io/blog/css-text-animations#23-gradient-typing-effect */
