body {
    background-color: navy;
    font-family: "Literata", serif;
}


h2{

    color: white;
    font-size: 109px;
    text-align: center;
}

h3 {
    color: white;
    font-size: 103px;
    text-align: center;
}

a {
    text-decoration: none;

    }

    div {
        color: orange;
        
    }

    .brighterday {

      text-shadow: 0 0 7px #b6eb30cb, 0 0 12px #b6eb30cb, 0 0 22px #b6eb30cb, 0 0 47px #b6eb30cb, 0 0 87px #b6eb30cb;
      animation: brigherday 2s infinite alternate;
  }
    
    
    @keyframes brigherday {
      0% {
        text-shadow: 0 0 7px #b6eb30cb, 0 0 12px #b6eb30cb, 0 0 22px #b6eb30cb, 0 0 47px #b6eb30cb, 0 0 87px #b6eb30cb;
    }
    100% {
        text-shadow: 0 0 13px #6200ffbb, 0 0 24px #6200ffbb, 0 0 44px #6200ffbb, 0 0 60px #6200ffbb, 0 0 167px #6200ffbb;
    }
    }

    /*https://prismic.io/blog/css-text-animations#23-gradient-typing-effect*/
    

.wordthree {

    margin-right: 69x;
    margin-top: 350px;
}

span {
  color: chartreuse;
}

.giving {
      text-transform: uppercase;
    animation: giving 4s ease-in-out infinite;
    animation-name: giving;
animation-delay: 1s;
animation-direction: normal;
animation-duration: 9s;
animation-fill-mode: normal;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function: ease-in-out;

}

@keyframes giving {
    20% {
        transform: translateY(5%) scaleY(0.8);
      }
      40% {
        transform: translateY(-100%) scaleY(1.0);
      }
      50% {
        transform: translateY(10%) scaleY(0.7);
      }
      70% {
        transform: translateY(-5%) scaleY(2);
      }
      80%, 100% {
        transform: translateY(0) scaleY(0.9);
      }
    }

    /* https://codepen.io/hexagoncircle/pen/MWgbqON */